# Ignore main Django database
db.sqlite3

# Bytecode and cache
*.pyc
__pycache__/

# Environment variables
.env
.env.*

# Ignore settings overrides (optional, if used)

# Virtual environment
.venv/
venv/

# IDE & OS files
.DS_Store

# PyCharm
.idea/

# Logs and backups
*.log
db_backup.json
db_backup.sqlite3

# Static and media files (optional if collected)
staticfiles/
media/

# Node.js (if using npm for frontend)
node_modules/
package-lock.json
package.json

# Secrets and credentials
credentials.json
generate_token.py
